<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta CEP</title>
</head>
<body>
    <h1>Consulta CEP</h1>
    <form>
        <label for="cep">CEP: </label>
        <input type="text" id="cep" maxlength="8">

        <label for="logradouro">Logradouro: </label>
        <input type="text" id="logradouro">

        <label for="cidade">Cidade: </label>
        <input type="text" id="cidade">

        <label for="estado">Estado: </label>
        <input type="text" id="estado">


    </form>
    <script src="/script.js"></script>
</body>
</html>